<header class="container">
  <nav class="navbar">
    <a href="acceuil">mon<span>s</span>ite</a>
    <ul>
      <li><a href="#">Acceuil</a></li>
      <li><a href="vendre">vendre artiles</a></li>
      <li><a href="display">voir articles</a></li>
    </ul>
  </nav>
</header>
