<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/header")%>

    <div class="main_container">
      <form action="/articles" method="POST">
        <div class="second-div">
          <label for="name">nom de larticle</label>
          <input type="text" name="name" />
        </div>

        <div class="second-div">
          <textarea name="description" id="description">
descriptif de l'article</textarea
          >
        </div>
        <div class="second-div">
          <label for="price">prix de larticle</label>
          <input type="number" name="price" />
        </div>
        <div class="second-div">
          <label for="name">nom de larticle</label>
          <input type="text" name="name" />
        </div>
        <div class="second-div">
           <input type="submit" value="soumettre">
      </form>
    </div>
  </body>
</html>
